{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<!-- logout form -->
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 mt-0 p-5 text-white rounded text-center" style="background-color: #09647a;">
      <h1>{% trans "Sign Out" %}</h1>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary mt-3" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}