@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Dosis:wght@300;400&family=Source+Sans+Pro&family=Telex&display=swap');

/* base template */
header {
    margin-bottom: 12rem;
}

.display-username-on-smaller-devices,
.hamburgur-nav-icon,
.display-username-on-larger-devices,
.form-sending-btn,
.confirm-delete-form,
.send-contact-form-btn,
.emergency-support-bg-color,
.user-not-currently-booked,
.user-not-currently-booked,
.next-paginated-btn,
.previous-paginated-btn,
.update-form-btn,
.contact-us-footer-btn,
.opening-hours {
    background-color: #09647a;
}

.form-bg-color,
.register-to-book-an-appointment,
.update-booking-form-bg {
    background-color: aliceblue
}

.request-an-appointment,
.contact-page-header-text,
.your-appointments-header-text,
.update-appointments-page-header-text,
.treatments-header {
    font-family: 'Oswald', sans-serif
}

/* site navbar */
nav {
    background-color: #07afe0;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 120%;
}

.nav-bg-design {
    text-align: center;
}

/* .nav-bg-design:hover {
    border-right: 2px solid #09647a;
} */

/* home template */
.welcome-page-image {
    position: relative;
    text-align: center;
    color: #000000;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #11b9e8b7;
    width: 50%;
    padding: 20px;
}

.welcome-text>h2 {
    margin: 2rem;
}

.home-page-book-appointment-btn {
    background-color: #09647a;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bolder;
}

.home-page-book-appointment-btn:hover {
    background-color: white;
    color: black;
}

/* home page for xs devices */
@media (max-width: 576px) {

    header {
        margin-bottom: 8rem;
    }

    .site-logo {
        width: 70%;
    }

    .toggle-login {
        font-size: 85%;
        margin-left: -1rem;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 90%;
    }

    .welcome-home-page-image {
        width: 90%;
    }

    .navbar-toggler {
        font-size: 90%;
    }

    .welcome-text {
        width: 40%;
        padding: 30px;
        top: 60%;
    }

    .welcome-text>h2 {
        margin: -1rem;
        font-size: 90%;
    }
}


/* our treatments */
.treatments-hero {
    margin-top: 50px;
}

.treatments-cards-header {
    margin-bottom: 50px;
}

.treatments-price {
    background-color: #09647a;
    color: #ffffff;
    padding: 0.5rem;
}

/* book appointment */

#booking-form {
    border: 2px solid;
    width: 70%;
    padding: 20px;
}

/* contact us */
.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.emergency-number a {
    font-style: italic;
    color: #ff0000;
}

.emergency-number a:hover {
    opacity: 0.8;
}

.emergency-number {
    padding: 8px;
}

/* notifications */
.next-paginated-btn:hover,
.previous-paginated-btn:hover {
    background-color: #09647a;
    color: white;
}


/* footer */
footer {
    font-family: 'Telex', sans-serif;
    background-color: #07afe0;
}

.footer-info-bg-color {
    border-radius: 15px 50px;
}

.our-contacts>h3,
.our-locations>h3,
.opening-hours>h3,
.social-media>.row>.col>h3 {
    font-family: 'Dangrek', cursive;
}

.social-media-icons {
    font-size: 170%;
}

.social-media-icons>li>a {
    color: #000000;

}

.social-media-icons>li>a:hover,
.next-paginated-btn,
.previous-paginated-btn {
    color: white;
}