@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* base template */

html {
    overflow-y: scroll;
}

header {
    margin-bottom: 12rem;
}

/* site navbar */
nav {
    background-color: #0ea3c7;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 120%;
}

.nav-bg-design {
    text-align: center;
}

.nav-bg-design:hover {
    border-bottom: 2px solid #09647a;
}

/* home template */
.welcome-page-image {
    position: relative;
    text-align: center;
    color: black;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #11b9e8b7;
    width: 50%;
    padding: 20px;
}

.welcome-text>h2 {
    margin: 2rem;
}

.home-page-book-appointment-btn {
    background-color: #0ea3c7;
    font-size: 2rem;
    font-weight: bolder;
}

.home-page-book-appointment-btn:hover {
    background-color: #09647a;
    color: white;
}

/* home page for xs devices */
@media (max-width: 576px) {

    header {
        margin-bottom: 8rem;
    }

    .site-logo {
        width: 70%;
    }

    .toggle-login {
        font-size: 70%;
        margin-left: -1rem;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 90%;
    }

    .navbar-toggler {
        font-size: 90%;
    }

    .welcome-text {
        width: 40%;
        padding: 40px;
    }

    .welcome-text>h2 {
        margin: -2rem;
        font-size: 105%;
    }
}


/* our treatments */
.treatments-header {
    font-family: 'Oswald', sans-serif;
    ;
}

.treatments-hero {
    margin-top: 50px;
}

.treatments-cards-header {
    margin-bottom: 50px;
}

/* footer */
footer {
    font-family: 'Source Sans Pro', sans-serif;
}

.footer-info-bg-color {
    background-color: #e9ecef;
}

.our-contacts {
    background-color: #47c9e9;
    border-radius: 15px 50px;
}

.our-locations {
    background-color: #5fd6e1;
    border-radius: 15px 50px;
}

.opening-hours {
    background-color: #13def1;
    border-radius: 15px 50px;
}

.social-media {
    background-color: #11bde7;
}

.social-media-icons {
    font-size: 170%;
}

.social-media-icons>li>a {
    color: black;

}

.social-media-icons>li>a:hover {
    color: #09647a;
}