{% extends 'base.html' %}

{% block content %}

<!-- confirm delete appointment options for user -->
<div class="container">
    <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2 mt-1 p-5 text-white rounded text-center confirm-delete-form">
            <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to cancel an appointment <strong class="fst-italic">{{ object }}</strong>?</p>
                <button type="submit" class="btn btn-danger">Confirm</button>
                <a href="{% url 'manage_bookings' %}"><button type="button" class="btn btn-secondary">Cancel</button></a>
            </form>
        </div>
    </div>
</div>


{% endblock %}