{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">

    <!-- header for the clinic treatments -->
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="treatments-header h1">Our Treatments</h2>
        </div>
    </div>

    <div class="row mt-2 p-2">
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
            <p class="fs-5 fst-italic text-decoration-underline">We offer a variety of dental treatment options, so you
                can choose the one that is
                right for you after
                speaking to one of our dentist specialists.</p>
        </div>

        <div class="col-12 col-md-6 d-none d-md-block">
            <img src="{% static 'images/discuss-treatments.jpg' %}" class="img-fluid" alt="speak to our specialist">
        </div>
    </div>

    <!-- treatments available -->
    <div class="row mt-1 mt-md-3 mt-lg-5 treatments-cards-header">
        {% for treatments in object_list %}
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card treatments-hero">
                <img src="{{ treatments.featured_image.url }}" class="card-img-top" alt="images for multipels treatments">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ treatments.title }}</h5>
                    <hr class="w-50 mr-auto mx-auto">
                    <p class="card-text">{{ treatments.description }}</p>
                    <strong class="treatments-price"><a href="{% url 'book_appointments' %}" class="text-decoration-none text-white">Price: £{{ treatments.price }}</a></strong>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}