{% extends 'base.html' %}

{% block content %}

<!-- django-bootstrap-datepicker-plus dependency -->
{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

<div class="container">

    <div class="row my-3">
        <div class="col-12">
            <h2 class="text-center update-appointments-page-header-text"><i
                    class="fa-regular fa-calendar-check"></i> Update Booking Details
            </h2>
        </div>
    </div>

    <!-- update appointment form -->
    <div class="row mt-3">
        <div class="col-10 offset-1 col-md-8 offset-md-2 mt-2 mt-sm-2 mt-md-0 p-4 p-sm-5 update-booking-form-bg">
            <p class="fst-italic fs-6 text-center mt-2 mt-md-0 text-decoration-underline"><i
                    class="fa-regular fa-pen-to-square"></i> Change booking details **
            </p>

            <form method="POST" class="text-center">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="mt-3 btn text-white update-form-btn" type="submit">Make A Changes</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}